<hr/>
<form class="col s12" (ngSubmit)="onSubmit()" [formGroup]="form">

  <div *ngIf="availableFields.length > 0" class="form-group">
    <label class="searchLabel" for="fieldAdder">Add Field</label>
    <ng-select id="fieldAdder"
                [allowClear]="true"
                [items]="availableFields"
                [disabled]="disabled"
                (data)="dataFormComponent($event)"
                (selected)="selectedFormComponent($event)"
                (removed)="removedFormComponent($event)"
                placeholder="Select a field to add">
    </ng-select>
  </div>

  <div *ngFor="let element of resourceElements | slice:1" class="">
    <primitive-element *ngIf="element != undefined && element?.key" [resourceElement]="element" [form]="form" [tooltip]="test"></primitive-element>
    <complex-element *ngIf="isArray(element)" [complexDatatype]="element" [form]="form.controls[element[1]]"></complex-element>
  </div>
       
  <div>
    <button type="button" class="btn btn-orange">Send</button>
    <!--<button type="submit" [disabled]="!form.valid">Save</button>-->
  </div>

</form>
