<div *ngIf="complexdatatype[0]=='HumanName'">
  <div class="divider"></div>
  <h3>{{complexdatatype[1]}}</h3>
  <span class="field-object-id">{{complexdatatype[0]}}</span>

  <!-- Use -->
  <div class="row" *ngIf="fieldExists('use')">
    <div class="input-field col s4">
      <input id="humanname_use" type="text" class="validate">
      <label>{{getField('use').label}}</label>
    </div>
  </div>

  <!-- Family and Given Names -->
  <div class="row" *ngIf="fieldExists('family') || fieldExists('given')">
    <div class="input-field col s12 m6" *ngIf="fieldExists('family')">
      <input id="humanname_family" type="text" class="validate">
      <label>{{getField('family').label}}</label>
    </div>

    <div class="input-field col s12 m6" *ngIf="fieldExists('given')">
      <input id="humanname_given" type="text" class="validate">
      <label>{{getField('given').label}}</label>
    </div>
  </div>

  <!-- Text version of name -->
  <div class="row" *ngIf="fieldExists('text')">
    <div class="input-field col s12">
      <input id="humanname_text" type="text" class="validate">
      <label>{{getField('text').label}}</label>
    </div>
  </div>

  <!-- Prefix and Suffix of name -->
  <div class="row" *ngIf="fieldExists('prefix') || fieldExists('suffix')">
    <div class="input-field col s12 m6" *ngIf="fieldExists('prefix')">
      <input id="humanname_prefix" type="text" class="validate">
      <label>{{getField('prefix').label}}</label>
    </div>

    <div class="input-field col s12 m6" *ngIf="fieldExists('suffix')">
      <input id="humanname_suffix" type="text" class="validate">
      <label>{{getField('suffix').label}}</label>
    </div>
  </div>

  <!-- Handles Period Complex datatype -->
  <df-complex *ngIf="complexFieldExists('period')" [complexdatatype]="getComplexField('period')" [form]="form.controls['period']"></df-complex>

</div>

<div *ngIf="complexdatatype[0]=='Period'">
    <h4>{{complexdatatype[1]}}</h4>
    <span class="field-object-id">{{complexdatatype[0]}}</span>

  <!-- Start and End Names -->
  <div class="row" *ngIf="fieldExists('start') || fieldExists('end')">
    <div class="input-field col s12 m6" *ngIf="fieldExists('start')">
      <input id="period_start" type="text" class="validate">
      <label>{{getField('start').label}}</label>
    </div>

    <div class="input-field col s12 m6" *ngIf="fieldExists('end')">
      <input id="period_given" type="text" class="validate">
      <label>{{getField('end').label}}</label>
    </div>
  </div>
</div>

<div *ngIf="complexdatatype[0]=='Identifier'">
  <div class="divider"></div>
    <h3>{{complexdatatype[1]}}</h3>
    <span class="field-object-id">{{complexdatatype[0]}}</span>

  <!-- use and system -->
  <div class="row" *ngIf="fieldExists('use') || fieldExists('system')">
    <div class="input-field col s12 m6" *ngIf="fieldExists('use')">
      <input id="identifier_use" type="text" class="validate">
      <label>{{getField('use').label}}</label>
    </div>

    <div class="input-field col s12 m6" *ngIf="fieldExists('system')">
      <input id="identifier_system" type="text" class="validate">
      <label>{{getField('system').label}}</label>
    </div>
  </div>

  <!-- Value field -->
  <div class="row" *ngIf="fieldExists('value')">
    <div class="input-field col s12">
      <input id="identifier_value" type="text" class="validate">
      <label>{{getField('value').label}}</label>
    </div>
  </div>

  <!-- Handles Period Complex datatype -->
  <df-complex *ngIf="complexFieldExists('period')" [complexdatatype]="getComplexField('period')" [form]="form.controls['period']"></df-complex>

  <!-- Handles CodeableConcept Complex datatype -->
  <df-complex *ngIf="complexFieldExists('type')" [complexdatatype]="getComplexField('type')" [form]="form.controls['type']"></df-complex>

</div>

<div *ngIf="complexdatatype[0]=='CodeableConcept'">
  <div class="divider"></div>
    <h3>{{complexdatatype[1]}}</h3>
    <span class="field-object-id">{{complexdatatype[0]}}</span>

  <!-- Text field -->
  <div class="row" *ngIf="fieldExists('text')">
    <div class="input-field col s12">
      <input id="codeableconcept_text" type="text" class="validate">
      <label>{{getField('text').label}}</label>
    </div>
  </div>

  <!-- Handles Coding Complex datatype -->
  <df-complex *ngIf="complexFieldExists('coding')" [complexdatatype]="getComplexField('coding')" [form]="form.controls['coding']"></df-complex>

</div>

<div *ngIf="complexdatatype[0]=='Coding'">
    <h4>{{complexdatatype[1]}}</h4>
    <span class="field-object-id">{{complexdatatype[0]}}</span>

  <!-- version, system, and code -->
  <div class="row" *ngIf="fieldExists('version') || fieldExists('system') || fieldExists('code')">
    <div class="input-field col s12 m4" *ngIf="fieldExists('version')">
      <input id="code_version" type="text" class="validate">
      <label>{{getField('version').label}}</label>
    </div>

    <div class="input-field col s12 m4" *ngIf="fieldExists('system')">
      <input id="code_system" type="text" class="validate">
      <label>{{getField('system').label}}</label>
    </div>

    <div class="input-field col s12 m4" *ngIf="fieldExists('code')">
      <input id="code_code" type="text" class="validate">
      <label>{{getField('code').label}}</label>
    </div>
  </div>

  <!-- display and userSelected -->
  <div class="row" *ngIf="fieldExists('display') || fieldExists('userSelected')">
    <div class="input-field col s12 m6" *ngIf="fieldExists('display')">
      <input id="code_display" type="text" class="validate">
      <label>{{getField('display').label}}</label>
    </div>

    <div class="input-field col s12 m6" *ngIf="fieldExists('userSelected')">
      <div class="switch">
        <label>
          no
          <input type="checkbox">
          <span class="lever"></span>
          yes
        </label>
      </div>
      <label class="active">{{getField('userSelected').label}}</label>
    </div>
  </div>

</div>

<div *ngIf="complexdatatype[0]=='Meta'">
  <div class="divider"></div>
    <h3>{{complexdatatype[1]}}</h3>
    <span class="field-object-id">{{complexdatatype[0]}}</span>

  <!-- id, versionid, and last updated -->
  <div class="row" *ngIf="fieldExists('id') || fieldExists('versionId') || fieldExists('lastUpdated')">
    <div class="input-field col s12 m4" *ngIf="fieldExists('id')">
      <input id="meta_id" type="text" class="validate">
      <label>{{getField('id').label}}</label>
    </div>

    <div class="input-field col s12 m4" *ngIf="fieldExists('versionId')">
      <input id="meta_versionId" type="text" class="validate">
      <label>{{getField('versionId').label}}</label>
    </div>

    <div class="input-field col s12 m4" *ngIf="fieldExists('lastUpdated')">
      <input id="meta_lastUpdated" type="text" class="validate">
      <label>{{getField('lastUpdated').label}}</label>
    </div>
  </div>

  <!-- Profile -->
  <div class="row" *ngIf="fieldExists('profile')">
    <div class="input-field col s12">
      <input id="meta_profile" type="text" class="validate">
      <label>{{getField('profile').label}}</label>
    </div>
  </div>

</div>

<div *ngIf="complexdatatype[0]=='Address'">
  <div class="divider"></div>
    <h3>{{complexdatatype[1]}}</h3>
    <span class="field-object-id">{{complexdatatype[0]}}</span>

    <!-- use and type -->
    <div class="row" *ngIf="fieldExists('use') || fieldExists('type')">
      <div class="input-field col s12 m6" *ngIf="fieldExists('use')">
        <input id="address_use" type="text" class="validate">
        <label>{{getField('use').label}}</label>
      </div>

      <div class="input-field col s12 m6" *ngIf="fieldExists('type')">
        <input id="address_type" type="text" class="validate">
        <label>{{getField('type').label}}</label>
      </div>
    </div>

    <!-- Text -->
    <div class="row" *ngIf="fieldExists('text')">
      <div class="input-field col s12">
        <input id="address_text" type="text" class="validate">
        <label>{{getField('text').label}}</label>
      </div>
    </div>

    <!-- Line -->
    <div class="row" *ngIf="fieldExists('line')">
      <div class="input-field col s12">
        <input id="address_line" type="text" class="validate">
        <label>{{getField('line').label}}</label>
      </div>
    </div>

    <!-- City and District -->
    <div class="row" *ngIf="fieldExists('city') || fieldExists('district')">
      <div class="input-field col s12 m6" *ngIf="fieldExists('city')">
        <input id="address_city" type="text" class="validate">
        <label>{{getField('city').label}}</label>
      </div>

      <div class="input-field col s12 m6" *ngIf="fieldExists('district')">
        <input id="address_district" type="text" class="validate">
        <label>{{getField('district').label}}</label>
      </div>
    </div>

    <!-- state, postcode, and country -->
    <div class="row" *ngIf="fieldExists('state') || fieldExists('postalCode')
                            || fieldExists('country')">
      <div class="input-field col s12 m4" *ngIf="fieldExists('state')">
        <input id="meta_state" type="text" class="validate">
        <label>{{getField('state').label}}</label>
      </div>

      <div class="input-field col s12 m4" *ngIf="fieldExists('postalCode')">
        <input id="meta_postalCode" type="text" class="validate">
        <label>{{getField('postalCode').label}}</label>
      </div>

      <div class="input-field col s12 m4" *ngIf="fieldExists('country')">
        <input id="meta_country" type="text" class="validate">
        <label>{{getField('country').label}}</label>
      </div>
    </div>

    <!-- Handles Period Complex datatype -->
    <df-complex *ngIf="complexFieldExists('period')" [complexdatatype]="getComplexField('period')" [form]="form.controls['period']"></df-complex>

</div>

<div *ngIf="complexdatatype[0]=='Attachment'">
  <div class="divider"></div>
    <h3>{{complexdatatype[1]}}</h3>
    <span class="field-object-id">{{complexdatatype[0]}}</span>

    <!-- contentType and Language -->
    <div class="row" *ngIf="fieldExists('contentType') || fieldExists('language')">
      <div class="input-field col s12 m6" *ngIf="fieldExists('contentType')">
        <input id="attachment_contentType" type="text" class="validate">
        <label>{{getField('contentType').label}}</label>
      </div>

      <div class="input-field col s12 m6" *ngIf="fieldExists('language')">
        <input id="attachment_language" type="text" class="validate">
        <label>{{getField('language').label}}</label>
      </div>
    </div>

    <!-- Data -->
    <div class="row" *ngIf="fieldExists('data')">
      <div class="input-field col s12">
        <input id="attachment_data" type="text" class="validate">
        <label>{{getField('data').label}}</label>
      </div>
    </div>

    <!-- URL -->
    <div class="row" *ngIf="fieldExists('url')">
      <div class="input-field col s12">
        <input id="attachment_url" type="text" class="validate">
        <label>{{getField('url').label}}</label>
      </div>
    </div>

    <!-- size and hash -->
    <div class="row" *ngIf="fieldExists('size') || fieldExists('hash')">
      <div class="input-field col s12 m6" *ngIf="fieldExists('size')">
        <input id="attachment_size" type="text" class="validate">
        <label>{{getField('size').label}}</label>
      </div>

      <div class="input-field col s12 m6" *ngIf="fieldExists('hash')">
        <input id="attachment_hash" type="text" class="validate">
        <label>{{getField('hash').label}}</label>
      </div>
    </div>

    <!-- title and creation -->
    <div class="row" *ngIf="fieldExists('title') || fieldExists('creation')">
      <div class="input-field col s12 m6" *ngIf="fieldExists('title')">
        <input id="attachment_title" type="text" class="validate">
        <label>{{getField('title').label}}</label>
      </div>

      <div class="input-field col s12 m6" *ngIf="fieldExists('creation')">
        <input id="attachment_creation" type="text" class="validate">
        <label>{{getField('creation').label}}</label>
      </div>
    </div>

</div>

<div *ngIf="complexdatatype[0]=='ContactPoint'">
  <div class="divider"></div>
    <h3>{{complexdatatype[1]}}</h3>
    <span class="field-object-id">{{complexdatatype[0]}}</span>

  <!-- use, system and rank -->
  <div class="row" *ngIf="fieldExists('use') || fieldExists('system') || fieldExists('rank')">
    <div class="input-field col s12 m4" *ngIf="fieldExists('use')">
      <input id="contactpoint_use" type="text" class="validate">
      <label>{{getField('use').label}}</label>
    </div>

    <div class="input-field col s12 m4" *ngIf="fieldExists('system')">
      <input id="contactpoint_system" type="text" class="validate">
      <label>{{getField('system').label}}</label>
    </div>

    <div class="input-field col s12 m4" *ngIf="fieldExists('rank')">
      <input id="contactpoint_rank" type="text" class="validate">
      <label>{{getField('rank').label}}</label>
    </div>
  </div>

  <!-- value -->
  <div class="row" *ngIf="fieldExists('value')">
    <div class="input-field col s12">
      <input id="contactpoint_value" type="text" class="validate">
      <label>{{getField('value').label}}</label>
    </div>
  </div>

  <!-- Handles Period Complex datatype -->
  <df-complex *ngIf="complexFieldExists('period')" [complexdatatype]="getComplexField('period')" [form]="form.controls['period']"></df-complex>

</div>

<div *ngIf="complexdatatype[0]=='Narrative'">
  <div class="divider"></div>
    <h3>{{complexdatatype[1]}}</h3>
    <span class="field-object-id">{{complexdatatype[0]}}</span>

  <!-- use and system -->
  <div class="row" *ngIf="fieldExists('id') || fieldExists('status')">
    <div class="input-field col s12 m6" *ngIf="fieldExists('id')">
      <input id="narrative_id" type="text" class="validate">
      <label>{{getField('id').label}}</label>
    </div>

    <div class="input-field col s12 m6" *ngIf="fieldExists('status')">
      <input id="narrative_status" type="text" class="validate">
      <label>{{getField('status').label}}</label>
    </div>
  </div>

  <!-- Value field -->
  <div class="row" *ngIf="fieldExists('div')">
    <div class="input-field col s12">
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label>{{getField('div').label}}</label>
    </div>
  </div>
</div>

<div *ngIf="complexdatatype[0]!='HumanName'
            && complexdatatype[0]!='Period'
            && complexdatatype[0]!='Identifier'
            && complexdatatype[0]!='CodeableConcept'
            && complexdatatype[0]!='Coding'
            && complexdatatype[0]!='Meta'
            && complexdatatype[0]!='Address'
            && complexdatatype[0]!='Attachment'
            && complexdatatype[0]!='ContactPoint'
            && complexdatatype[0]!='Narrative'">
  <h3>{{complexdatatype[1]}}:{{complexdatatype[0]}}</h3>
  <div *ngFor="let question of complexdatatype | slice:2" class="form-row">

    <df-question *ngIf="question.hasOwnProperty('key')" [question]="question" [form]="form"></df-question>
    <df-complex *ngIf="isArray(question)" [complexdatatype]="question" [form]="form.controls[question[1]]"></df-complex>

  </div>
</div>
