<div *ngIf="person">
  <h2>{{person.resourceType}}</h2>
  <div class="row">
      <div class="row">
        <!-- Name row -->
        <div class="input-field col s6">
          <input [(ngModel)]="person.name[0].given[0]" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input [(ngModel)]="person.name[0].family" id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <!-- id row -->
      <div class="input-field col s12">
        <input [(ngModel)]="person.id" id="id" type="text" class="validate">
        <label for="id">Meta ID</label>
      </div>
      <!-- Active dates row -->
      <div class="row">
        <div class="input-field col s6">
          <input [(ngModel)]="person.name[0].period.start" id="start" type="text" class="validate">
          <label for="start">Start</label>
        </div>
        <div class="input-field col s6">
          <input [(ngModel)]="person.name[0].period.end"id="end" type="text" class="validate">
          <label for="end">End</label>
        </div>
      </div>
  </div>
</div>

<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let question of questions" class="form-row">
      <df-question [question]="question" [form]="form"></df-question>
    </div>
    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>
  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
