.btn-orange {
  background: #a71100;
  color: white;
}
.btn-orange:hover {
  background: #e21700;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
