.rm-space {
  padding: 0;
  margin: 0;
}
.side-nav {
  background: #141414;
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  margin: 0;
  padding: 5px 10px;
  border-right: 5px solid #a71100;
}
.form-area {
  position: absolute;

  left: 300px;
  right: 0;
}
.btn-orange {
  background: #a71100;
  color: white;
}
.btn-orange:hover {
  background: #e21700;
}
.form-close-button .btn-orange {
  margin-top: 25px;
}
.app-title {
  color: white;
  font-family: 'Roboto';
}
.searchLabel {
  color: white;
}
.pointer-style {
  cursor: pointer;
}
.pointer-style:hover {
  color: #a71100;
}
.clear-settings-button {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}
