<div class="container-fluid rm-space">
  <div class="row-fluid">
    <div class="side-nav">
        <!--Sidebar content-->
        <h1 class="app-title">{{title}}</h1>
        <tabs>
          <!-- Search Tab -->
          <tab tabTitle="Search">
            <!-- The endpoint to search on -->
            <div class="form-group">
              <label class="searchLabel" for="fhirEndpoint">FHIR Endpoint
                <span class="glyphicon glyphicon-plus-sign pointer-style" aria-hidden="true" data-toggle="modal" data-target="#myModal"></span>
              </label>
              <select id="fhirEndpoint" class="form-control" name="fhirEndpoint" (ngModelChange)="updateEndpoint($event)"
                        [(ngModel)]="activeEndpoint" required #fhir_server="ngModel">
                <option value="" disabled selected>Choose a endpoint</option>
                <option *ngFor="let endpoint of endpoints" [value]="endpoint">{{endpoint}}</option>
              </select>
            </div>
            <!-- The resource to search for -->
            <div *ngIf="availableTypes.length > 0" class="form-group">
              <label class="searchLabel" for="searchResourceType">Resource Type</label>
              <ng-select id="searchResourceType"
                          [allowClear]="true"
                          [items]="availableTypes"
                          [disabled]="disabled"
                          (data)="refreshSearchResourceTypeValue($event)"
                          (selected)="updateSearchParam($event)"
                          (removed)="removeSearchResourceTypeValue($event)"
                          placeholder="No Resource selected">
              </ng-select>
            </div>
            <!-- The field to search for -->
            <div *ngIf="availablefields.length > 0" class="form-group">
              <label class="searchLabel" for="searchResourceBy">Search On</label>
              <ng-select id="searchResourceBy"
                          [allowClear]="true"
                          [items]="availablefields"
                          [disabled]="disabled"
                          (data)="refreshSearchFieldValue($event)"
                          placeholder="No Field Selected">
              </ng-select>
            </div>
            <!-- The value to search for -->
            <div class="form-group">
              <label class="searchLabel" for="searchValue">Value</label>
              <input id="searchValue" class="form-control" name="searchValue" type="text" [(ngModel)]="searchValue" placeholder="i.e. John Doe">
            </div>
            <!-- Search for resource -->
            <button (click)="searchForResources()" type="button" class="btn btn-orange" data-toggle="modal" data-target="#searchBox">Search</button>
          </tab>
          <!-- Create Tab -->
          <tab tabTitle="Create">
            <!-- The endpoint to search on -->
            <div class="form-group">
              <label class="searchLabel" for="fhirEndpoint">FHIR Endpoint
                <span class="glyphicon glyphicon-plus-sign pointer-style" aria-hidden="true" data-toggle="modal" data-target="#myModal"></span>
              </label>
              <select id="fhirEndpoint" class="form-control" name="fhirEndpoint" (ngModelChange)="updateEndpoint($event)"
                        [(ngModel)]="activeEndpoint" required #fhir_server="ngModel">
                <option value="" disabled selected>Choose a endpoint</option>
                <option *ngFor="let endpoint of endpoints" [value]="endpoint">{{endpoint}}</option>
              </select>
            </div>
            <!-- The resource to search for -->
            <div *ngIf="availableTypes.length > 0" class="form-group">
              <label class="searchLabel" for="createResourceType">Resource Type</label>
              <ng-select id="createResourceType"
                          [allowClear]="true"
                          [items]="availableTypes"
                          [disabled]="disabled"
                          (data)="refreshCreateResourceTypeValue($event)"
                          placeholder="No Resource Selected">
              </ng-select>
            </div>
            <!-- Create the resource -->
            <button (click)="createResource()" type="button" class="btn btn-orange">Create</button>

          </tab>
        </tabs>
        <button (click)="clearSession()" type="button" class="btn btn-warning clear-settings-button">Clear Settings</button>
    </div>
    <div class="form-area">
      <!--Body content-->
      <div class="container-fluid">
        <div *ngIf="resourceBuilt" class="row">
          <div class="col-sm-10">
            <h1>{{resourceElements[0]}}</h1>
          </div>
          <div class="col-sm-2 form-close-button">
            <button (click)="closeResource()" type="button" class="btn btn-orange">Close</button>
          </div>
        </div>
        <app-form *ngIf="resourceBuilt" [resourceElements]="resourceElements" [existingResourceData]="existingResourceData" [resourceBuilt]="resourceBuilt"></app-form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a FHIR Endpoint</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="newEndpoint">New Endpoint</label>
          <input type="string" class="form-control" id="newEndpoint" [(ngModel)]="newEndpointVariable" placeholder="http://endpoint.com/fhir..">
        </div>
        <button (click)="verifyEndpoint()" type="button" class="btn btn-default">Verify</button>
        <p>
          {{newEndpointTestResult}}
        </p>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button (click)="addEndpoint()" type="button" class="btn btn-orange" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="searchBox" tabindex="-1" role="dialog" aria-labelledby="searchBoxLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select a Resource</h4>
      </div>
      <div class="modal-body">

        <!-- Only display if there are search results to show -->
      <div *ngIf="searchResults.length != 0" class="panel panel-default">
        <div class="panel-heading">Search Results</div>
          <div class="panel-body">
            <p>Please select one resource from the list below, and then press 'select'.</p>
            <button  type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button (click)="pullResourceCreateForm()" type="button" class="btn btn-orange" data-dismiss="modal">Select</button>
          </div>

          <div class="list-group" >
            <a *ngFor="let result of searchResults" (click)="grabSearchResult(result)" class="list-group-item" href="#">
              <!-- Resource ID and Update time -->
              <div class="row">
                <div *ngIf="result.resource?.id" class="col-sm-6">
                  <strong>ID: </strong><br>
                  {{result.resource.id}}
                </div>
                <div *ngIf="result.resource.meta?.lastUpdated" class="col-sm-6">
                  <strong>Last Updated: </strong><br>
                  {{result.resource.meta.lastUpdated}}
                </div>
              </div>

              <!-- Full link to resource -->
              <div *ngIf="result?.fullUrl" class="row">
                <div class="col-sm-12">
                  <strong>Full URL: </strong><br>
                  {{result.fullUrl}}
                </div>
              </div>

              <!-- Resource name element if exists -->
              <div *ngIf="result.resource?.name" class="row">
                <div *ngFor="let name of result.resource.name" class="col-sm-6">
                  <strong>Name<span *ngIf="name?.use">-{{name.use}}</span>:</strong><br>
                  <span *ngIf="name?.family">{{name.family}}, </span>
                  <span *ngIf="name?.given">
                    <span *ngFor="let givenName of name.given">
                      <span> {{givenName}} </span>
                    </span>
                  </span>
                  <br>
                </div>
              </div>
            </a>
          </div>

      </div>

      <div class="modal-footer">
        <button  type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button (click)="pullResourceCreateForm()" type="button" class="btn btn-orange" data-dismiss="modal">Select</button>
      </div>
    </div>
  </div>
</div>
