/* Custom colours for the navigation and footer */
.search-wrapper input {
  border: none;
  padding: 0;
  margin: 0;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height: 200px;
   width:100%;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

select.browser-default {
  border: 1px solid #ddd;
}
